@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0; 
  padding: 0; 
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.homePage{ 
  position: relative;
  width: 100%;
  height: 100vh; 
  top: 0; 
  bottom: 0; 
  overflow: hidden; 
}

.landingPageVid {
  width: 100%; 
  height: 100%; 
  position: absolute;
  object-fit: cover; 
  z-index: 1;
}

.homeDash {
  position: absolute; 
  width: 25%; 
  height: 10%; 
  top: 0; 
  left: 0;
  display: flex; 
  flex-direction: row; 
  justify-content: center;
  align-items: center; 
  z-index: 2; 
  color: white;
}
